body {
  color: #000;
  font-family: 'Roboto', sans-serif, -apple-system; }

section {
  padding-top: 60px;
  padding-bottom: 80px; }

.section__title {
  position: relative;
  text-align: center;
  margin-bottom: 48px;
  font-size: 36px; }
  .section__title:after {
    position: absolute;
    content: '';
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 10px;
    background: url("../images/svg/tail_dark.svg") center no-repeat;
    background-size: cover; }
  .section__title_alt {
    color: #FFF; }
    .section__title_alt:after {
      background: url("../images/svg/tail_light.svg") center no-repeat; }

.section__subtitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px; }

button {
  cursor: pointer; }

.button {
  padding: 10px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .button_callback {
    color: #FFF;
    background-color: #26CF41; }
  .button_accent {
    background-color: #FF9900;
    color: #FFF; }
    .button_accent-transparent {
      padding: 8px 25px;
      color: #FF9900;
      background-color: transparent;
      border: 2px solid #FF9900;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }

.line-break {
  display: block; }

.text_accent {
  color: #26CF41; }

.burger-btn {
  display: none;
  flex-direction: column;
  width: 50px;
  cursor: pointer;
  user-select: none;
  transform: scale(-1, 1); }
  .burger-btn span {
    background: #fff;
    border-radius: 10px;
    height: 5px;
    margin: 6px 0;
    transition: .3s  ease; }
    .burger-btn span:nth-of-type(1) {
      width: 50%; }
    .burger-btn span:nth-of-type(2) {
      width: 100%; }
    .burger-btn span:nth-of-type(3) {
      width: 75%; }
  .burger-btn input[type="checkbox"] {
    display: none; }
    .burger-btn input[type="checkbox"]:checked ~ span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg) translate(7px, 2px); }
    .burger-btn input[type="checkbox"]:checked ~ span:nth-of-type(2) {
      transform-origin: top;
      transform: rotatez(-45deg); }
    .burger-btn input[type="checkbox"]:checked ~ span:nth-of-type(3) {
      transform-origin: bottom;
      width: 50%;
      transform: translate(23px, -9px) rotatez(45deg); }

.burger-menu {
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  padding: 130px 20px 0;
  width: 250px;
  z-index: 99999;
  background-color: #FFF;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
  transition: .3s ease-in-out; }
  .burger-menu_open {
    left: 0; }
  .burger-menu__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; }
    .burger-menu__list-item:hover svg {
      fill: #000; }
    .burger-menu__list-item-icon {
      width: 15px;
      height: 15px;
      fill: #e1e1e1; }
  .burger-menu__list-link {
    padding: 5px 0;
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    color: #000; }

.header {
  top: 0;
  position: sticky;
  z-index: 1; }
  .header__wrap {
    padding-top: 26px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9E9E9E; }
  .header__logo {
    height: 40px;
    width: 120px; }
  .header__nav {
    font-size: 18px; }
    .header__nav-item {
      color: #FFF;
      text-decoration: none; }
      .header__nav-item:not(:last-child) {
        margin-right: 35px; }
  .header__contacts-phone {
    display: block;
    font-size: 26px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none; }

.promo {
  padding-top: 0;
  position: relative;
  padding-bottom: 120px;
  color: #FFF;
  background: url("../images/promo-bg.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  .promo:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .promo__wrap {
    padding-top: 100px;
    position: relative;
    z-index: 1; }
  .promo__title {
    margin-bottom: 30px;
    font-size: 48px; }
  .promo__list {
    margin-bottom: 80px;
    font-size: 26px; }
    .promo__list-item:not(:last-child) {
      margin-bottom: 15px; }
  .promo__button {
    font-size: 24px; }
    .promo__button:not(:last-child) {
      margin-right: 40px; }

.features {
  padding-bottom: 0;
  color: #FFF;
  background-color: #2F2F2F; }
  .features__wrap {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9E9E9E; }
  .features__feature {
    display: flex;
    align-items: center; }
    .features__feature-icon {
      margin-right: 15px;
      width: 60px;
      height: 60px; }
    .features__feature-title {
      font-size: 24px; }

.prices {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #2F2F2F; }
  .prices__wrap {
    margin-bottom: 80px; }
  .prices__title {
    margin-bottom: 50px; }
  .prices__devices {
    margin-bottom: 60px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .prices__devices-button {
      margin: 0;
      padding: 10px 20px;
      color: #9E9E9E;
      background: none;
      border-bottom: 1px solid #9E9E9E; }
      .prices__devices-button_active {
        color: #26CF41;
        border-color: #26CF41; }
  .prices__models {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .prices__models-button {
      margin-bottom: 15px;
      padding: 8px 20px;
      font-size: 18px;
      color: #9E9E9E;
      background-color: transparent;
      border: 2px solid #9E9E9E;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      .prices__models-button_active {
        color: #FFF;
        background-color: #FF9900;
        border-color: transparent; }
      .prices__models-button:not(:last-child) {
        margin-right: 15px; }
  .prices__common-block {
    position: relative;
    height: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    overflow: hidden; }
    .prices__common-blocks {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 20px;
      grid-template-areas: 'firs firs second third' 'fourth fifth sixth seventh'; }
    .prices__common-block:hover .prices__common-block-img {
      transform: scale(1.05); }
    .prices__common-block:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: black;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.577748) 0%, rgba(255, 255, 255, 0) 100%);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .prices__common-block-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      transition: .3s; }
    .prices__common-block-info {
      padding: 0 20px 15px;
      position: relative;
      z-index: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 22px;
      color: #FFF; }
    .prices__common-block-price {
      color: #26CF41; }
    .prices__common-block:first-child {
      grid-area: firs; }
    .prices__common-block:nth-child(2) {
      grid-area: second; }
    .prices__common-block:nth-child(3) {
      grid-area: third; }
    .prices__common-block:nth-child(4) {
      grid-area: fourth; }
    .prices__common-block:nth-child(5) {
      grid-area: fifth; }
    .prices__common-block:nth-child(6) {
      grid-area: sixth; }
    .prices__common-block:nth-child(7) {
      grid-area: seventh; }
  .prices__pricelist {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding-left: 0;
    font-size: 18px;
    color: #FFF; }
    .prices__pricelist-item {
      display: flex;
      padding: 10px 5px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #9E9E9E;
      cursor: pointer; }
      .prices__pricelist-item:hover .prices__pricelist-item-label, .prices__pricelist-item:hover .prices__pricelist-item-button {
        opacity: 1; }
      .prices__pricelist-item-wrap {
        display: flex;
        align-items: center; }
      .prices__pricelist-item-button, .prices__pricelist-item-label {
        opacity: 0;
        transition: .3s; }
      .prices__pricelist-item-label {
        font-size: 16px;
        margin-right: 15px; }
      .prices__pricelist-item-button {
        padding: 3px 10px;
        margin-right: 40px;
        background-color: #26CF41;
        color: #FFF;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
    .prices__pricelist-unroll {
      margin-left: auto;
      margin-right: auto;
      display: block; }

.delivery-form {
  position: relative;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 40px;
  width: 100%;
  max-width: 750px;
  transform: translateX(-70px);
  margin-right: auto;
  margin-left: auto;
  background-color: #B3FEBF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }
  .delivery-form__title {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 600; }
  .delivery-form__subtitle {
    margin-bottom: 50px;
    font-size: 16px; }
  .delivery-form__input {
    margin-right: 15px;
    padding: 10px 20px;
    width: 180px;
    font-size: 16px;
    text-align: center;
    color: #9E9E9E;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .delivery-form__img {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: -200px; }

.reviews {
  background-color: #EEEBDD; }
  .reviews__slide {
    margin-left: auto;
    margin-right: auto;
    padding: 35px 35px 40px;
    width: 100%;
    max-width: 950px;
    background-color: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15); }
    .reviews__slide-text {
      position: relative;
      margin-bottom: 65px;
      font-size: 18px; }
      .reviews__slide-text:after {
        position: absolute;
        content: '';
        left: 50%;
        bottom: -30px;
        transform: translateX(-50%);
        width: 95%;
        height: 1px;
        background-color: #9E9E9E; }
    .reviews__slide-info {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .reviews__slide-rating {
      display: flex;
      align-items: center; }
      .reviews__slide-rating-title {
        margin-right: 20px;
        font-size: 22px; }
      .reviews__slide-rating-number {
        position: relative;
        z-index: 1;
        color: #FFF;
        font-size: 28px; }
        .reviews__slide-rating-number:before {
          position: absolute;
          content: '';
          width: 60px;
          height: 60px;
          top: 50%;
          left: 50%;
          z-index: -1;
          background-color: #26CF41;
          transform: translate(-50%, -50%);
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          border-radius: 100px; }
    .reviews__slide-reviewer {
      display: flex;
      align-items: center; }
      .reviews__slide-reviewer-info {
        margin-right: 15px; }
      .reviews__slide-reviewer-name {
        text-align: right;
        font-size: 22px;
        margin-bottom: -3px; }
      .reviews__slide-reviewer-problem {
        font-size: 16px;
        font-weight: 300;
        color: #9E9E9E; }
      .reviews__slide-reviewer-img {
        width: 60px;
        height: 60px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px; }

.steps {
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
  color: #FFF;
  overflow: hidden; }
  .steps:before {
    position: absolute;
    content: '';
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .steps__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .steps__wrap {
    position: relative;
    z-index: 1; }
  .steps__title {
    margin-bottom: 70px; }
  .steps__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px; }
    .steps__blocks {
      position: relative;
      display: flex;
      justify-content: space-between; }
      .steps__blocks:before {
        position: absolute;
        content: '';
        left: 50%;
        top: 25px;
        z-index: -1;
        width: 80%;
        height: 2px;
        transform: translateX(-50%);
        border: 2px dashed #9E9E9E; }
    .steps__block-number {
      margin-bottom: 22px;
      position: relative;
      font-size: 36px; }
      .steps__block-number:before {
        position: absolute;
        content: '';
        width: 70px;
        height: 70px;
        left: 50%;
        top: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        background-color: #26CF41;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px; }
    .steps__block-text {
      font-size: 20px;
      text-align: center; }

.team__wrap {
  padding-bottom: 90px;
  border-bottom: 1px solid #ebebeb; }

.team__card {
  width: 100%;
  max-width: 270px; }
  .team__cards {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between; }
  .team__card-img {
    margin-bottom: 5px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1); }
  .team__card-name {
    font-size: 18px; }
  .team__card-position {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: #9E9E9E; }
  .team__card-experience {
    margin-bottom: 5px;
    font-size: 16px; }
  .team__card-link {
    font-size: 16px;
    text-decoration: none;
    position: relative;
    color: #0071e3;
    font-weight: 600; }
    .team__card-link:after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 2px;
      background-color: #0071e3; }

.team__button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 20px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1); }

.misc {
  padding-top: 0; }
  .misc__wrap {
    display: flex;
    justify-content: space-between; }

.faq {
  width: 49%; }
  .faq__title {
    font-size: 28px;
    text-align: left; }
    .faq__title:after {
      left: 0;
      transform: unset; }
  .faq__list {
    padding-left: 0;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .faq__list-item {
      padding: 15px 20px;
      border-bottom: 1px solid #ebebeb;
      overflow: hidden;
      cursor: pointer; }
      .faq__list-item-title {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px; }
        .faq__list-item-title-icon {
          min-width: 25px;
          max-width: 25px;
          min-height: 25px;
          max-height: 25px;
          fill: #d1d1d1; }
          .faq__list-item-title-icon_active {
            fill: #FF9900; }
      .faq__list-item-text {
        margin-top: 15px;
        font-size: 14px;
        overflow: hidden; }

.gallery {
  width: 49%; }
  .gallery__title {
    font-size: 28px;
    text-align: left; }
    .gallery__title:after {
      left: 0;
      transform: unset; }
  .gallery__image {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: .2s;
    cursor: pointer; }
    .gallery__images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 15px;
      grid-template-areas: 'firs second third' 'fourth fifth sixth'; }
      .gallery__images picture:first-child {
        grid-area: firs; }
      .gallery__images picture:nth-child(2) {
        grid-area: second; }
      .gallery__images picture:nth-child(3) {
        grid-area: third; }
      .gallery__images picture:nth-child(4) {
        grid-area: fourth; }
      .gallery__images picture:nth-child(5) {
        grid-area: fifth; }
      .gallery__images picture:nth-child(6) {
        grid-area: sixth; }
    .gallery__image:hover {
      transform: scale(1.02); }

@media (max-width: 1200px) {
  .steps__block {
    max-width: 200px; }
    .steps__block-number {
      font-size: 32px; }
      .steps__block-number:before {
        width: 60px;
        height: 60px; }
    .steps__block-text {
      font-size: 18px; }
  .team__card {
    width: 220px; }
    .team__card-img {
      height: 240px; } }

@media (max-width: 992px) {
  .burger-btn {
    display: flex; }
  .header__col:last-child {
    display: flex;
    align-items: center; }
  .header__nav {
    display: none; }
  .header__contacts {
    margin-right: 15px; }
  .promo__wrap {
    padding-top: 70px; }
  .promo__title {
    font-size: 42px; }
  .features__wrap {
    padding-top: 30px;
    padding-bottom: 30px; }
  .features__feature-icon {
    width: 50px;
    height: 50px; }
  .features__feature-title {
    font-size: 18px; }
  .prices {
    padding-top: 100px; }
    .prices__devices {
      font-size: 22px; }
    .prices__common-blocks {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 'firs firs firs' 'second third fourth' 'fifth sixth seventh'; }
    .prices__common-block-info {
      padding: 0 15px 15px;
      font-size: 20px; }
    .prices__pricelist-item {
      padding: 5px 10px;
      border: 1px solid #9E9E9E;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      .prices__pricelist-item:not(:last-child) {
        margin-bottom: 10px; }
      .prices__pricelist-item-name {
        width: 75%;
        font-size: 16px; }
      .prices__pricelist-item-label, .prices__pricelist-item-button {
        display: none; }
      .prices__pricelist-item-button {
        margin-right: 25px; }
  .delivery-form {
    width: 580px; }
    .delivery-form__title {
      font-size: 30px; }
    .delivery-form__img {
      width: 310px;
      right: -150px; }
  .reviews__slide-text {
    font-size: 16px;
    text-align: center; }
  .steps__block {
    flex-direction: row;
    align-items: flex-start;
    max-width: 400px; }
    .steps__blocks {
      margin-left: 25px;
      flex-direction: column;
      align-items: flex-start; }
      .steps__blocks:before {
        left: 10px;
        width: 2px;
        height: 80%; }
    .steps__block:not(:last-child) {
      margin-bottom: 30px; }
    .steps__block-number {
      margin-right: 35px;
      margin-top: 5px;
      margin-bottom: 0; }
    .steps__block-text {
      text-align: left;
      font-size: 20px; }
  .team__card {
    width: 46%;
    max-width: 100%; }
    .team__cards {
      flex-wrap: wrap; }
    .team__card:nth-child(odd) {
      margin-right: 4%; }
    .team__card:nth-child(-n+2) {
      margin-bottom: 40px; }
    .team__card-img {
      height: 300px; }
  .misc__wrap {
    flex-direction: column; }
  .faq {
    margin-bottom: 40px;
    width: 100%; }
    .faq__title {
      text-align: center; }
      .faq__title:after {
        left: 50%;
        transform: translateX(-50%); }
  .gallery {
    width: 100%; }
    .gallery__title {
      text-align: center; }
      .gallery__title:after {
        left: 50%;
        transform: translateX(-50%); } }

@media (max-width: 768px) {
  .promo {
    text-align: center; }
    .promo__title .line-break {
      display: inline-block; }
    .promo__list {
      font-size: 24px;
      padding-left: 0; }
    .promo__button {
      font-size: 22px; }
      .promo__buttons {
        display: flex;
        justify-content: center; }
      .promo__button:not(:last-child) {
        margin-right: 15px; }
  .features__wrap {
    flex-wrap: wrap;
    justify-content: center; }
  .features__feature:first-child {
    margin-right: 30px; }
  .features__feature:last-child {
    margin-top: 30px; }
  .prices__wrap {
    margin-bottom: 170px; }
  .delivery-form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 100%;
    text-align: center;
    transform: unset; }
    .delivery-form__img {
      top: -159px;
      width: 240px;
      left: 50%;
      right: unset;
      transform: translateX(-50%); }
  .reviews__slide-rating-title {
    font-size: 20px; }
  .reviews__slide-reviewer-name {
    font-size: 20px; }
  .reviews__slide-reviewer-problem {
    font-size: 14px; } }

@media (max-width: 576px) {
  .section__title {
    font-size: 32px; }
  .promo__title {
    font-size: 40px; }
  .promo__list {
    font-size: 22px; }
  .prices__common-blocks {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'firs firs' 'second third' 'fourth fifth' 'sixth seventh'; }
  .prices__pricelist-item-name {
    font-size: 14px; }
  .reviews__slide {
    position: relative; }
    .reviews__slide-info {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
    .reviews__slide-rating-title {
      display: none; }
    .reviews__slide-rating-number {
      position: absolute;
      top: 0;
      right: 0; }
    .reviews__slide-reviewer {
      flex-direction: row-reverse; }
      .reviews__slide-reviewer-info {
        margin-right: 0; }
      .reviews__slide-reviewer-name {
        text-align: left; }
      .reviews__slide-reviewer-img {
        margin-right: 15px; }
  .gallery__images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 'firs second' 'third fourth' 'fifth sixth'; } }

@media (max-width: 480px) {
  .header__contacts {
    display: none; }
  .promo__button {
    display: block;
    width: fit-content; }
    .promo__buttons {
      flex-direction: column;
      align-items: center; }
    .promo__button:not(:last-child) {
      margin-right: 0;
      margin-bottom: 15px; }
  .delivery-form form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .delivery-form__input, .delivery-form__button {
    width: 90%; }
  .delivery-form__input {
    margin-right: 0;
    margin-bottom: 15px; }
  .reviews__slide-text {
    font-size: 14px; }
  .steps__block-text {
    font-size: 18px; }
  .team__card {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 240px;
    text-align: center; }
    .team__cards {
      flex-direction: column; }
    .team__card:nth-child(odd) {
      margin-right: auto; }
    .team__card:not(:last-child) {
      margin-bottom: 40px; }
    .team__card-img {
      height: 250px; }
  .faq__list-item-title {
    font-size: 18px; }
  .faq__list-item-text {
    font-size: 14px; } }

@media (max-width: 420px) {
  .features {
    border-bottom: 1px solid #9E9E9E; }
    .features__wrap {
      flex-direction: column;
      align-items: flex-start;
      width: fit-content;
      border-bottom: none; }
    .features__feature:first-child {
      margin-right: 0; }
    .features__feature:last-child {
      margin-top: 0; }
    .features__feature:not(:last-child) {
      margin-bottom: 30px; }
  .prices__devices {
    font-size: 20px; } }
