.advantages {
  padding: 0;
  background-color: $accent-bg-color;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 65%;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  &__slide {
    &r {
      margin-bottom: 30px;
    }
    display: flex;
    &-img {
      margin-right: 15px;
      max-width: 350px;
      min-width: 350px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
      box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
    }
    &-info {
      padding-top: 5px;
    }
    &-title {
      font-size: 26px;
      margin-bottom: 10px;
    }
    &-text {
      font-size: 14px;
    }
  }
  &__static {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-item {
      margin-right: 1%;
      width: 32%;
      display: flex;
      align-items: center;
      &:nth-child(-n+3) {
        margin-bottom: 20px;
      }
      &-icon {
        margin-right: 15px;
        width: 20px;
        height: 20px;
        fill: $accent-color;
      }
    }
  }
  &__controls {
    padding: 50px 0px;
    width: 39%;
    max-width: 360px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
    &-title {
      margin-bottom: 40px;
      font-size: 28px;
      padding: 15px 20px;
      color: $alt-text-color;
      background-color: $main-text-color;
    }
    &-button {
      &s {
        padding: 0 10px;
      }

      padding: 15px 30px;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      &-icon {
        margin-right: 20px;
        width: 45px;
        height: 45px;
      }
      &-title {
        margin: 0;
        font-size: 18px;
      }
    }
  }
}